doctype html
html
  head
  body
    header
      h1 Hello World
      img ()
      nav
        a(href="google.com")
        a(href="codefellow.org")
        a(href="yahoo.com")
    main
      article
        h1 Accessibility: The Missing Ingredient
        p
          | by
          a(href="/author/Antibland") Andrew Hoffman
        p If economics is "the dismal science", accessibility has long been the least loved branch of web design and development—and the least specified client requirement. Type and grids (especially the flexible variety) have fans aplenty. CSS, Sass, and frameworks draw huge, passionate crowds. But even die-hard front-enders and dedicated followers of best practices seem to wilt in the face of today's greatly improved accessibility techniques. As a result, while most of us have kept up with the emerging methods, technologies, and challenges of multi-device design and development, essential and well supported specs like WAI-ARIA remain woefully under-implemented. Even the best of us seem to consider accessibility something to be done at the end of the job. Andrew Hoffman explains the advantages and necessity of an accessibility approach.
      article
        h1 Can Email Be Responsive?
        p
          | by
          a(href="/author/JasonRodriguez") Jason Rodriguez
        p Love it or hate it, there’s no denying the popularity of HTML emails. And, like the web before it, the inbox has officially gone mobile, with over 50 percent of email opens occurring on mobile devices. Still, email design is an outrageously outdated practice. (Remember coding before web standards became… standards?) But coding an email doesn’t need to be a lesson in frustration. While email designers still have to build layouts using tables and style them with HTML attributes and—gasp!—inline styles, a number of intrepid designers are taking modern techniques pioneered for the web and applying them to the archaic practice of email design. Jason Rodriguez shows how to apply the principles of responsive web design to the frustrating but essential realm of email design.
      article
        h1 More from List Apart
        section
          h1
            a(href="/column/look-at-the-big-picture") Look at the Big Picture
          img(src="http://d.alistapart.com/_made/pix/authors/uploads/photo_129828_60_60_c1.jpg" alt="0")
          p It’s easy to see that automation can streamline image-optimization for all the varied contexts on the pan-device web. What’s harder to imagine is a future where foregrounding meaningful content in images can be handled by an algorithm. Art direction still requires human intervention, and that’s often a luxury in high-production environments.
        section
          h1
            a( href="https://dearfcc.org") “Dear FCC,”
          p Every voice counts! Please share your thoughts with the FCC before they vote later today to destroy net neutrality. This is an issue of justice and access. Save our shared web and help ensure that others can access it.
        section
          h1
            a(href="http://globalaccessibilityawarenessday.org") Global Accessibility Day
          p Today, 15 May, is Global Accessibility Awareness day. Please see if there is a live accessibility event near you. And take an hour of your day to experience accessibility online.
        aside
          p
            | A List Apart explores the design, development, and meaning of web content, with a special focus on web standards and best practices. Explore our
            a(href="/articles") articles or find out more
            a(href="/about") about us.
      footer
        h1 For people who make websites.
        ul
          li
            a(href="/about") About
          li
            a(href="/authors") Authors
          li
            a(href="/about/masthead") Masthead
          li
            a(href="/about/style-guide") Style Guide
          li
            a(href="/contact") Contact
          li
            a(href="/about/sponsor") Sponsorship
          li
            p Follow Us:
            a(href="/about/rss") RSS
            a(href="http://www.facebook.com/alistapart") Facebook
            a(href="https://plus.google.com/107749003388305496076" rel="publisher") Google
            a(href="http://www.twitter.com/alistapart") Twitter
        ul
          li
            small
              p ISSN 1534-0295 · Copyright © 1998-2014 A List Apart & Our Authors
            small
              a(href="/about/copyright") Permissions & Copyright
          li
            a(href="http://aneventapart.com") An Event Apart
            a(href="http://abookapart.com") A Book Apart
            a(href="http://happycog.com" ) Happy Cog



